<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>פרס דניאלי - הרופא המסור של המדינה</title>
	<link rel="icon" type="image/png" href="images/favicon.ico" />

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
	<link href="bootstrap.rtl.min.css" rel="stylesheet" />
	<link href="recommendation.css?version" rel="stylesheet" />
</head>

<body style="height:99%">
	<!--  onload="checkMobile()" -->
	<div class="right-side">
		<div class="right-side-wrap">

			<nav class="navbar navbar-default none-desktop danieli-nav">
				<div class="container-fluid">
					<div class="">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li>
								<a style="color:#000000" href="http://kerendanielle.org/activity/%D7%A4%D7%A8%D7%A1-%D7%93%D7%A0%D7%99%D7%90%D7%9C%D7%99/">אודות 'פרס דניאלי'</a><br />
							</li>
							<li>
								<a ng-class="{'active-link':contactUs}" style="color:#000000" ng-click="firstPage=false;contactUs=true;">צור קשר</a>
							</li>
						</ul>

					</div>
				</div>
			</nav>

			<img class="none-mobile" src="images/logo_pras2 2.png" />
			<img class="none-desktop white-logo" ng-class="{'d-none':first}" src="images/logo_lavan 1.png" />
			<img class=" white-logo d-none" ng-class="{'logo-first-page':first}" src="images/logo_lavan 1 (2).png" />


			<div class="links none-mobile" style="text-align:center;">
				<a style="color:#000000" href="http://kerendanielle.org/activity/%D7%A4%D7%A8%D7%A1-%D7%93%D7%A0%D7%99%D7%90%D7%9C%D7%99/">אודות 'פרס דניאלי'</a><br />
				<img src="images/Line 2.png" /><br />
				<a style="color:#000000" ng-class="{'active-link':contactUs}" ng-click="firstPage=false;contactUs=true;">צור קשר</a>
			</div>

			<div class="none-mobile">
				<div>
					<span class="small-span">בחסות:</span>
					<img src="images/misrad 2.png" />
				</div>

				<div>
					<span class="small-span mb-mt">בשיתוף עם כל קופות החולים:</span>
					<img src="images/koopot 2.png" />
				</div>
			</div>
		</div>
	</div>
	<div class="left-side">
		<!-- style="background-image:url('images/תודה סיום 1.jpg')" -->
		<div class="none-mobile" id="toDesktop" style="height: 100%;">
			<img src="images/תודה סיום 1.jpg" style="width: 100%;height: 100%;" />
			<img src="images/כפתור.png" style="display: inline-block;margin-top: -222px;margin-right: 430px;" />
		</div>
		<div class="none-desktop" id="toMobile" style="height: 100%;">
			<img src="images/מובייל תודה.jpg" style="width: 100%;height: 100%;" />
			<img src="images/כפתור מובייל.png" style="display: inline-block;margin-top: -320px;margin-right: 240px;width: 55%;" />
		</div>

		<!--<div class="back-gray-wrap" style="padding: 0 37px;" ng-if="contactUs">
			<form novalidate name="contactUsForm" class="mobile-width">
				<fieldset ng-class="{'form-error':bTrySave}">
					<div class="text-center header-form mt-36 mb-27">צור קשר</div>
					<div class="form-group">
						<input class="form-control" required type="text" ng-model="mail.nvName" name="nvName" placeholder="שם  *" />
					</div>
					<div class="form-group">
						<input class="form-control" required type="email" ng-model="mail.nvEmail" name="nvEmail" placeholder="דואר אלקטרוני  *" />
					</div>
					<div class="form-group">
						<input class="form-control" type="text" ng-model="mail.nvPhone" name="nvPhone" placeholder="נייד" />
					</div>
					<div class="form-group">
						<textarea class="form-control" required ng-model="mail.body" name="body" placeholder="הודעה"></textarea>
					</div>
				</fieldset>
			</form>
			<button type="button"
					style="cursor:pointer"
					ng-click="send()"
					class="btn btn-danielli-orange pull-left">
				שליחה
			</button>
			<h5 ng-if="dialog">{{dialog.title}}</h5>

		</div>-->
	</div>
	<script>
		function checkMobile() {
			var isMobile = (navigator.userAgent.match(/Android/i)
				|| navigator.userAgent.match(/webOS/i)
				|| navigator.userAgent.match(/iPhone/i)
				|| navigator.userAgent.match(/iPad/i)
				|| navigator.userAgent.match(/iPod/i)
				|| navigator.userAgent.match(/BlackBerry/i)
				|| navigator.userAgent.match(/Windows Phone/i)
			) ? true : false;
			if (isMobile == true) {
				document.getElementById("toMobile").style.display = "visible";
				document.getElementById("toDesktop").style.display = "none";
			}
			else {
				document.getElementById("toMobile").style.display = "none";
				document.getElementById("toDesktop").style.display = "visible";
			}
		}
	</script>
</body>
</html>